input {
    padding: 1%;
    margin: 1%;
    margin-right:10%; font-size: large; font-weight: 200px;
}
span {
    color: white; margin-right:10%; font-size: large; font-weight: 200px; 
}
h3{

    color: white; margin-right:10%; font-size: large; font-weight: 200px; 

}