<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
   

    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Oswald">  
    

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<style>
    .p11 {
        font-family: 'Oswald', serif;
        font-size: 48px;
        text-transform: capitalize;
      }
</style>

<body>
    <app-dashboard></app-dashboard>

    <div class="container cc">
        <!-- 16:9 aspect ratio -->

        <div class=" col-lg-7">
            <h1 class="h1 " style="margin-top: 10%;">How to Do a SQUATS in VR</h1>
            <p class="p ">Build the muscles in your shoulders and chest with this foundational exercise.</p>
        </div>
       





         
                <img src="../../assets/images/sq2.jpg" class="d-block w-100" style="height: 550px;" alt="...">
              
          


          <div class="col-md-12">
            <h4 style="text-align: center;" class="p11" >DESCRIPTION</h4>
            <hr style="width: 200px; background: gold; font-size: larger;">
            <p class="col-md-12 w-100" style="text-align: center;">
                

           <strong> Hot Squat VR is a VR workout experience for the HTC Vive or Oculus Rift that aims to 
                get people in shape while having a little bit of fun and avoiding crowded gyms. 
                I personally consider myself a gym rat and love fitness so there was a bit to be 
                desired as far as resistance training goes (I was a little jealous of the characters 
                doing bench press to the left of me in the game), but for those that are looking to simply get started on their path to accomplishing their health and fitness goals, I would highly recommend Hot Squat as a solid first start.
                The music was basic, the graphics were basic, the experience was no-frills, but if the goal of the developers was to 
                create a game that delivers max-heart rate pushing intensity while being entertained, 
                they certainly accomplished it</strong>    
            </p>
        </div>

        <video class="video-fluid z-depth-1 col-lg-12" autoplay loop muted>
            <source src="../../assets/images/squats.mp4" type="video/mp4" />
        </video>

        




        <div class=" col-lg-6">
            <h3 class="h2">steps:</h3>

            <ol>
                <li>Stand straight with feet hip-width apart.</li>
                <br>
                <li>Drive your hips back—bending at the knees and ankles and pressing your knees slightly open—as you </li>
                <br>
                <li>Pink targets indicated that I needed to use my right arm 
                    to punch while blue queued me to use my left.</li>
                <br>
                <li>When You made contact with the first target (hurrah!) the handset vibrated slightly. </li>
                <br>
                <li> You finished the first round humbled but ready to jump back in..</li>
            </ol>

        </div>

        <div class="col-md-6">
            <h2  class="h2" style="margin-left:25%;">Coaching Cues</h2>
            <ul style="margin-left:25%;">
                
               
                <li> Keep your hands directly underneath your shoulders.</li>
                <br>
                <li> Maintain a straight line from your head to your toes. No sagging hips or poking your head forward.
                </li>
                <br>
                <li> Breathe normally. Inhale through your nose and exhale through your mouth.</li>
            </ul>
        </div>

        <div class="col-md-12">
            <h2 class="h2" style="margin-left:37%;">Reviews</h2>
            <p  style="text-align: center;"class="heading" style="margin-left:39%;">User Rating</p>
            <div style="text-align: center;" class="star-rating"style="margin-left:39%;">
                <span class="fa fa-star-o" data-rating="1"></span>
                <span class="fa fa-star-o" data-rating="2"></span>
                <span class="fa fa-star-o" data-rating="3"></span>
                <span class="fa fa-star-o" data-rating="4"></span>
                <span class="fa fa-star-o" data-rating="5"></span>
                <input type="hidden" name="whatever1" class="rating-value" value="2.56">
            </div>
            <p>4.1 average based on 254 reviews.</p>
            <hr style="border:3px solid #f1f1f1">

            <div class="row">
                <div class="side">
                    <div>5 star</div>
                </div>
                <div class="middle">
                    <div class="bar-container">
                        <div class="bar-5"></div>
                    </div>
                </div>
                <div class="side right">
                    <div>150</div>
                </div>
                <div class="side">
                    <div>4 star</div>
                </div>
                <div class="middle">
                    <div class="bar-container">
                        <div class="bar-4"></div>
                    </div>
                </div>
                <div class="side right">
                    <div>63</div>
                </div>
                <div class="side">
                    <div>3 star</div>
                </div>
                <div class="middle">
                    <div class="bar-container">
                        <div class="bar-3"></div>
                    </div>
                </div>
                <div class="side right">
                    <div>15</div>
                </div>
                <div class="side">
                    <div>2 star</div>
                </div>
                <div class="middle">
                    <div class="bar-container">
                        <div class="bar-2"></div>
                    </div>
                </div>
                <div class="side right">
                    <div>6</div>
                </div>
                <div class="side">
                    <div>1 star</div>
                </div>
                <div class="middle">
                    <div class="bar-container">
                        <div class="bar-1"></div>
                    </div>
                </div>
                <div class="side right">
                    <div>20</div>
                </div>
            </div>
        </div>
        
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <script src="detaill.js"></script>

</body>

</html>