<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!---************* arrangement by john niro yumang b4.0 alpha project graduation ******************* -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
   

    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Oswald">  
    

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<style>
    .p11 {
        font-family: 'Oswald', serif;
        font-size: 48px;
        text-transform: capitalize;
      }
</style>

<body>
	<app-dashboard></app-dashboard>
    
    <div class="container cc">
        <!-- 16:9 aspect ratio -->

		<div class=" col-lg-7">
            <h1 class="h1 " style="margin-top: 10%;">How to Do a Boxing in VR</h1>
            <p class="p ">Build the muscles in your shoulders and chest with this foundational exercise.</p>
        </div>
       

	
		

      
              
              
              <img src="../../assets/images/b0.jpg" class=" w-100" style="height: 550px;" alt="...">
             


          <div class="col-md-12">
            <h4 style="text-align: center;" class="p11" >DESCRIPTION</h4>
            <hr style="width: 200px; background: gold; font-size: larger;">
            <p class="col-md-12 w-100" style="text-align: center;">
                

               <strong >We make exercise accessible and engaging for everyone, regardless of age or ability.
                 We are here to support your fitness journey from start to finish. We exist to get the world fit.
                 a virtual reality fitness gaming fusion designed to bring the boxing studio to you.
                 BoxVR is essentially a pure fitness cardio boxing game where the sole gameplay is
                  based around punching pink and blue targets, blocking, and avoiding barriers by 
                  either squatting or dodging left or right. It doesn’t try to be anything more than 
                  this, and there are no gameplay gimmicks to make you think you’re doing anything
                   other than fitness boxing. It is, however, one of the only VR games that gets 
                   fitness boxing right. It boasts curated workout playlists designed by real fitness instructors and a boppin’ soundtrack that you’ll want to listen to well after you’ve finished your workout.
				</strong>  </p>
        </div>

        <video class="video-fluid z-depth-1 col-lg-12" autoplay loop muted>
            <source src="../../assets/images/box.mp4" type="video/mp4" />
        </video>

        




        <div class=" col-lg-6" >
            <h3 class="h2">steps:</h3>

            <ol >
                <li>Donning the Oculus headset in my living room.</li>
                <br>
                <li>when the targets began to fly at you and You should hit precisely them. </li>
                <br>
                <li>Pink targets indicated that I needed to use my right arm 
                    to punch while blue queued me to use my left.</li>
                <br>
                <li>When You made contact with the first target (hurrah!) the handset vibrated slightly. </li>
                <br>
                <li> You finished the first round humbled but ready to jump back in..</li>
            </ol>

        </div>

        <div class="col-md-6" >
            <h2 class="h2" style="margin-left:25%;">Coaching Cues</h2>
            <ul style="margin-left:25%;">
                
               
                <li> Keep your hands directly underneath your shoulders.</li>
                <br>
                <li> Maintain a straight line from your head to your toes. No sagging hips or poking your head forward.
                </li>
                <br>
                <li> Breathe normally. Inhale through your nose and exhale through your mouth.</li>
            </ul>
        </div>

        <div class="col-md-12">
            <h2 class="h2" style="margin-left:37%;">Reviews</h2>
            <p  style="text-align: center;"class="heading"style="margin-left:39%;"  >User Rating</p>
            <div style="text-align: center;" class="star-rating" style="margin-left:39%;">
                <span class="fa fa-star-o" data-rating="1"></span>
                <span class="fa fa-star-o" data-rating="2"></span>
                <span class="fa fa-star-o" data-rating="3"></span>
                <span class="fa fa-star-o" data-rating="4"></span>
                <span class="fa fa-star-o" data-rating="5"></span>
                <input type="hidden" name="whatever1" class="rating-value" value="2.56">
            </div>
            <p>4.1 average based on 254 reviews.</p>
            <hr style="border:3px solid #f1f1f1">

            <div class="row">
                <div class="side">
                    <div>5 star</div>
                </div>
                <div class="middle">
                    <div class="bar-container">
                        <div class="bar-5"></div>
                    </div>
                </div>
                <div class="side right">
                    <div>150</div>
                </div>
                <div class="side">
                    <div>4 star</div>
                </div>
                <div class="middle">
                    <div class="bar-container">
                        <div class="bar-4"></div>
                    </div>
                </div>
                <div class="side right">
                    <div>63</div>
                </div>
                <div class="side">
                    <div>3 star</div>
                </div>
                <div class="middle">
                    <div class="bar-container">
                        <div class="bar-3"></div>
                    </div>
                </div>
                <div class="side right">
                    <div>15</div>
                </div>
                <div class="side">
                    <div>2 star</div>
                </div>
                <div class="middle">
                    <div class="bar-container">
                        <div class="bar-2"></div>
                    </div>
                </div>
                <div class="side right">
                    <div>6</div>
                </div>
                <div class="side">
                    <div>1 star</div>
                </div>
                <div class="middle">
                    <div class="bar-container">
                        <div class="bar-1"></div>
                    </div>
                </div>
                <div class="side right">
                    <div>20</div>
                </div>
            </div>
        </div>
        
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <script src="detaill.js"></script>

</body>

</html>











